# 深度求索配置
DEEPSEEK_API_KEY=xxxx
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-v4-pro
DEEPSEEK_FLASH_MODEL=deepseek-v4-flash

# 千问模型配置
QWEN_BASE_URL=http://localhost:11434/v1
QWEN_API_KEY=http://localhost:11434/v1
QWEN_MODEL=qwen3.6:27b
QWEN_EMBEDDINGS_MODEL=qwen3-embedding:4b
QWEN_RE_RANKER_MODEL="pdurugyan/qwen3-reranker-0.6b-q8_0"

# langsmith 配置
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=xxxx
LANGSMITH_PROJECT=xxxx

# postgres 配置
DATABASE_URL=postgresql://username:password@ip:port/db_name?sslmode=require